/* para los alerts msg */

.p-invalid {
    color: red;
}


/* para botones */

.btn-width {
    width: 45%;
}


/* Tabla */

.img-categoria {
    width: 65px;
    height: 65px;
}

.row-width {
    width: 40%;
}

.delete {
    outline-color: #ecaba7;
    background-color: #CE352C;
    color: #ffffff;
    border-color: transparent;
}

.delete:hover {
    outline-color: #ecaba7;
    background-color: #CE352C;
    color: #ffffff;
    border-color: transparent;
}

.delete:active {
    box-shadow: 0 0 0 3px rgba(206, 53, 44, 0.45);
}

.delete:focus {
    box-shadow: 0 0 0 3px rgba(206, 53, 44, 0.45);
}

.alinear {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1300px) {
    .row-width {
        width: 50%;
    }
}

@media screen and (max-width: 900px) {
    .row-width {
        width: 80%;
    }
}