<div class="container-fluid pr-0 pl-0 wrap">
    <div class="grid">
        <div class="row">
            <div class="cell-sm mb-10">
                <app-header></app-header>
            </div>
        </div>
        <div class="row">
            <div class="cell-sm pt-0 pb-0 pr-0">

                <body>
                    <aside class="side-bar animated fadeIn">
                        <nav data-role="navview" data-compact="fs">
                            <div class="navview-pane">
                                <!-- booton para cerrar abrir menu -->
                                <div class="navview-container">
                                    <button class="pull-button">
                                    <span class="default-icon-menu"></span>
                                  </button>
                                </div>
                                <!-- items del menu -->
                                <app-side-bar class="navview-menu-container"></app-side-bar>
                            </div>
                            <div class="navview-content mt-2">
                                <!-- breadcrumbs -->
                                <app-breadcrumbs></app-breadcrumbs>
                                <!-- para mostrar los demas componentes -->
                                <router-outlet></router-outlet>
                            </div>
                        </nav>
                    </aside>
                </body>

            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
