<div class="card">
  <div class="card-body">
    <form>
      <div class="row">
        <div class="cell-md-6">
          <div class="row">
            <div class="cell-12 mt-4">
              <input
                type="text"
                data-role="input"
                data-prepend="Nombre producto "
                name="prodNombre"
                autocomplete="off"
                [(ngModel)]="producto.nombre"
              />
            </div>
          </div>
          <div class="row mt-3">
            <div class="cell-12">
              <input
                type="number"
                data-role="input"
                data-prepend="Precio producto: "
                name="prodPrecio"
                autocomplete="off"
                [(ngModel)]="producto.precio"
              />
            </div>
          </div>
          <div class="row mt-3">
            <div class="cell-12">
              <input
                type="text"
                data-role="input"
                data-prepend="Descripción producto: "
                name="prodDescripcion"
                autocomplete="off"
                [(ngModel)]="producto.descripcion"
              />
            </div>
          </div>
          <div class="row mt-3">
            <div class="cell-12">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01"
                    >Categoria producto:</label
                  >
                </div>
                <select
                  [compareWith]="compararCategoria"
                  class="custom-select"
                  id="inputGroupSelect01"
                  name="categorias"
                  [(ngModel)]="producto.categoria"
                >
                  <option [ngValue]="undefined">Choose...</option>
                  <option
                    value="1"
                    [ngValue]="cate"
                    *ngFor="let cate of listaCategorias"
                  >
                    {{ cate.nombre }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="cell-md-5 offset-1">
          <app-preview-img
          *ngIf="producto.imagen.length === 0"
            (imagenSave)="(imagenProducto)"
            (change)="onChange($event)"
          ></app-preview-img>
          <app-preview-img
          *ngIf="idProducto > 0 && pathImg.length > 0"
            (imagenSave)="(imagenProducto)"
            (change)="onChange($event)"
            [pathImg] = "pathImg"
          ></app-preview-img>
        </div>
      </div>
      <div class="row">
        <div class="cell-12 d-flex flex-justify-center">
          <button
            class="button primary rounded shadowed w-25"
            (click)="RegistrarProducto()"
            *ngIf="!producto.id"
          >
            Guardar
          </button>
          <button
            class="button primary rounded shadowed w-25"
            (click)="actualizaProducto()"
            *ngIf="producto.id"
          >
            Actualizar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
