<div class="card">
    <div class="card-body">
        <!-- Barra para añadir -->
        <div class="row">
            <div class="cell-3 text-left">
                <div class="d-flex flex-justify-start">
                    <h5>Todos los productos</h5>
                </div>
            </div>
            <div class="cell-3 offset-6 text-right">
                <div class="d-flex flex-justify-end">
                    <a class="button primary shadowed btn-block" routerLink="/dashboard/crearusu">Añadir</a>
                </div>
            </div>
        </div>
        <!-- Acciones y input para filtrar -->
        <div class="row">
            <div class="cell-3 offset-6">
                <div class="d-flex flex-justify-between">
                    <input type="text" data-role="input" data-prepend="Buscar: " />
                </div>
            </div>
            <div class="cell-3 offset-0">
                <div class="d-flex flex-justify-between">
                    <button class="button info shadowed btn-block">Acciones</button>
                </div>
            </div>
        </div>
        <!-- Tabla -->
        <div class="row">
            <div class="cell-sm">

            </div>
        </div>
        <!-- Spinner -->
        <div class="row">
            <div class="cell">
                <div *ngIf="">
                    <app-spinner></app-spinner>
                </div>
            </div>
        </div>
        <!-- paginador -->
        <div class="row">
            <div class="cell-12 d-flex flex-justify-end">
                <!-- componente paginador -->
                <!-- <app-paginator *ngIf="paginador" [paginador]="paginador" [path]="path"></app-paginator> -->
            </div>
        </div>
    </div>
</div>