<div class="card">
    <div class="card-body">
        <form>
            <div class="card">
                <div class="card-body">
                    <h3>Datos generales</h3>
                    <div class="row">
                        <div class="cell-md-6">
                            <input type="text" data-role="input" data-prepend="Nombre" class="mb-5">
                            <input type="text" data-role="input" data-prepend="Teléfono">
                        </div>
                        <div class="cell-md-6">
                            <input type="text" data-role="input" data-prepend="Identificación" class="mb-5">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01" style="border-right-color: transparent;">Género </label>
                                </div>
                                <select class="custom-select" id="inputGroupSelect01" name="categorias">
                              <option [ngValue]="undefined">Choose...</option>
                              <option>4</option>
                            </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3>Datos Usuario</h3>
                    <div class="row">
                        <div class="cell-md-6">
                            <input type="text" data-role="input" data-prepend="Nombre usuario" class="mb-5">
                        </div>
                        <div class="cell-md-6">
                            <input type="email" data-role="input" data-prepend="Email" class="mb-5">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
