<div class="card mt-0 fondo">
    <div class="card-body p-2">
        <!-- formulario -->
        <form>
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="mb-2">Datos generales</h5>
                    <div class="row">
                        <div class="cell-md-6 pb-0">
                            <!-- inputs -->
                            <input type="text" data-role="input" data-prepend="Nombre" class="mb-5" />
                            <input type="text" data-role="input" data-prepend="Teléfono" />
                        </div>
                        <div class="cell-md-6 pb-0">
                            <!-- inputs -->
                            <input type="text" data-role="input" data-prepend="Identificación" class="mb-5" />
                            <div class="input-group mb-0">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="genero" style="border-right-color: transparent">Género</label>
                                </div>
                                <select [compareWith]="compararGenero" class="custom-select" id="genero" name="genero" [(ngModel)]="usuario.sexo">
                                    <option [ngValue]="undefined">Choose...</option>
                  <option value="1" [ngValue]="gen" *ngFor="let gen of generos">
                    {{ gen.tipo }}
                  </option>
                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="mb-2">Datos Usuario</h5>
                    <div class="row">
                        <div class="cell-md-6 pb-0">
                            <!-- inputs -->
                            <input type="text" data-role="input" data-prepend="Nombre usuario" class="mb-5" />
                            <input type="password" data-role="input" data-prepend="Contraseña" class="mb-5" />
                            <input type="password" data-role="input" data-prepend="Confirmar contraseña" />
                        </div>
                        <div class="cell-md-6 pb-0">
                            <!-- inputs -->
                            <input type="email" data-role="input" data-prepend="Email" class="mb-5" />
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01" style="border-right-color: transparent">Role
                  </label>
                                </div>
                                <select [compareWith]="compararRole" class="custom-select" id="roles" name="roles" [(ngModel)]="usuario.roles">
                  <option [ngValue]="undefined">Choose...</option>
                  <option value="1" [ngValue]="rol" *ngFor="let rol of roles">
                    {{ rol.nombre }}
                  </option>
                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-100 d-flex justify-content-between mt-5 mb-2">
                <button class="button shadowed button-usuario ml-2">Cancelar</button>
                <button class="button shadowed button-usuario button-save mr-2">
          Guardar
        </button>
            </div>
        </form>
    </div>
</div>
