<ul class="navview-menu">
  <li class="item-separator"></li>
  <li>
    <a [routerLink]="['/cliente/home/mesa/', id_mesa]" id="pane-toggle">
      <span class="icon d-flex flex-align-center justify-content-center"
        ><i class="fas fa-home"></i
      ></span>
      <span class="caption">Inicio</span>
    </a>
  </li>
  <li class="item-separator"></li>
  <li class="item-header">Menú</li>
  <li id="pane-toggle">
    <a
      *ngFor="let categoria of categorias"
      [routerLink]="['/cliente/menu/', categoria.id]"
    >
      <span class="icon">
        <img
          src="{{ api + 'category/img/' + categoria.imagen }}"
          style="width: 80%; height: 100%"
          class="bd-cyan border-radius-4"
        />
      </span>
      <span class="pl-2 caption">{{ categoria.nombre }}</span>
    </a>
  </li>
  <!-- para listar los combos -->
  <li class="item-header" *ngIf="categoriascombos.length > 0">Especiales</li>
  <li *ngIf="categoriascombos.length > 0">
    <a>
      <span class="icon d-flex flex-align-center justify-content-center"
        ><i class="fas fa-gifts"></i
      ></span>
      <span class="caption">Combos</span>
      <span class="badges"
        ><span class="badge inline">{{ categoriascombos.length }}</span></span
      >
    </a>
    <ul
      data-role="dropdown"
      class="navview-menu"
      style="display: none"
      id="pane-toggle"
    >
      <li class="margen-submenu" id="pane-toggle">
        <a
          *ngFor="let Catcombo of categoriascombos"
          id="pane-toggle"
          [routerLink]="['/cliente/menu/combo/', Catcombo.id]"
        >
          <span class="icon">
            <img
              src="{{ api + 'product/img/' + Catcombo.imagen }}"
              style="width: 80%; height: 100%"
              class="bd-cyan border-radius-4"
            />
          </span>
          <span class="pl-2 caption">{{ Catcombo.nombre }}</span>
        </a>
      </li>
    </ul>
  </li>
</ul>

<!-- caundo no hay data en el array categorias -->
<div class="item-header" *ngIf="categorias.length == 0" id="pane-toggle">
  <div class="card">
    <div class="card-body">
      <div class="alert alert-primary flex-1" role="alert">
        Menu no disponible aun, intente actualizando la página!
      </div>
    </div>
  </div>
</div>
